<mat-toolbar class="mb-8 header">
  <div><img width="85"src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Edenred_Logo.svg/1024px-Edenred_Logo.svg.png"></div>
 
 
    <div *ngIf="gameEnded" class="gameended">
      <h2>Game Ended</h2>
      <div  class="mat-typography"> 
        Score: {{cardClikedCount}}
      </div>
    
      </div>
      <div>
  <button mat-icon-button disabled  aria-label="Click to restart the game">
    <mat-icon (click)="restart()">refresh</mat-icon>
  </button>
  <button mat-icon-button disabled  aria-label="Click to show all">
    <mat-icon (click)="showAll()">search</mat-icon>
  </button>
</div>
  
</mat-toolbar>
 
<div class="game pt-8"> 
  <div class="grid p-8">
    <app-memory-card *ngFor="let i of cards; let y=index" [data]="i" (cardClicked)="cardClicked(y) ">
    </app-memory-card> 
  </div>
</div>
